<html>
<head>
<title>东软家电专卖商城后台管理</title>
</head>
<body>
        <include file="./Application/Admin/Common/nav.html" />
          <h2 class="sub-header">首页</h2>

          <div class="row placeholders">
            <table class="table table-bordered"><thead><tr><th>商品</a></th><th>订单</th><th>评论</th><th>用户</th><th>公告</th></tr></thead><tbody><tr><td>商品数量：{$jiadian}</td><td>订单数量：{$Order}</td><td>评论数量：{$Comment}</td><td>注册用户数量：{$User}</td><td>公告数量：{$News}</td></tr></tbody></table>
          </div>

        </div>
      </div>
    </div>
</body>
</html>
