<html>
<head>
<title>商品管理</title>
    <script src="__STYLE__/js/jquery.min.js"></script>    
    <script src="__STYLE__/js/bootstrap.min.js"></script>  
    <link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STYLE__/css/admin.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">东软家电专卖商城后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <include file="./Application/Admin/Common/nav.html" />
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="__ROOT__/index.php/admin">首页</a></li>
              <li class="active"><a href="__ROOT__/index.php/admin/Slideshow">首页轮播图管理</a></li>
              <li><a href="__ROOT__/index.php/admin/jiadian">商品管理</a></li>
              <li><a href="__ROOT__/index.php/admin/User">用户管理</a></li>
              <li><a href="__ROOT__/index.php/admin/Order">订单管理</a></li>
              <li><a href="__ROOT__/index.php/admin/News">公告列表</a></li>
              <li><a href="__ROOT__/index.php/admin/Comment">评论管理</a></li>
          </ul>
        </div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <p class="pull-right" style="margin-top: 20px;"><a class="btn btn-inverse" href="__ROOT__/index.php/home/index" target="_blank">查看首页</a></p>
          <h2 class="sub-header">首页轮播图管理</h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>当前图片</th>
                  <th>图片修改</th>
                  <th>图片超链接</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><img class="img-responsive img-rounded center-block" style="width:800px;" src="__STYLE__/image/Slideshow1.jpg"/></td>
                  <form action="__URL__/change?id=1" method="post" enctype="multipart/form-data"><td><input id="img" name="img" class="input-file" type="file" support="image/jpeg" /><p class="help-block">仅支持jpg格式</p></td>
                  <td><textarea style="height:150px;" id="url" name="url" type="text" placeholder="{$list[0].url}" required></textarea></td>
                  
                  <td><button class="btn btn-primary" type="submit">修改</button></td></form>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img class="img-responsive img-rounded center-block" style="width:800px;" src="__STYLE__/image/Slideshow2.jpg"/></td>
                  <form action="__URL__/change?id=2" method="post" enctype="multipart/form-data"><td><input id="img" name="img" class="input-file" type="file" support="image/jpeg" /><p class="help-block">仅支持jpg格式</p></td>
                  <td><textarea style="height:150px;" id="url" name="url" type="text" placeholder="{$list[1].url}" required></textarea></td>
                  
                  <td><button class="btn btn-primary" type="submit">修改</button></td></form>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img class="img-responsive img-rounded center-block" style="width:800px;" src="__STYLE__/image/Slideshow3.jpg"/></td>
                  <form action="__URL__/change?id=3" method="post" enctype="multipart/form-data"><td><input id="img" name="img" class="input-file" type="file" support="image/jpeg" /><p class="help-block">仅支持jpg格式</p></td>
                  <td><textarea style="height:150px;" id="url" name="url" type="text" placeholder="{$list[2].url}" required></textarea></td>
                  
                  <td><button class="btn btn-primary" type="submit">修改</button></td></form>
                </tr>
              </tbody>
            </table>

          </div>

        <div class="pages">
            {$page}
        </div>
        </div>
      </div>
    </div>
</body>
</html>