<html>
<head>
<title>主页</title>
    <script src="__STYLE__/js/jquery.min.js"></script>    
    <script src="__STYLE__/js/bootstrap.min.js"></script>  
    <link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STYLE__/css/animate.min.css" rel="stylesheet">
    <link href="__STYLE__/css/style.css" rel="stylesheet">
</head>
<body>
    
<include file="Public:header" />

<div class="container">    
	<div class="row clearfix" style="background-color:#333;">
		<div class="col-xs-9 column acolor padding1">
            <div class="col-xs-12 column padding1">
                <div class="carousel slide" id="carousel-239684">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-239684">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-239684">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-239684">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="__STYLE__/image/lunbo1.jpg" class="img-respontive" />
                        </div>
                        <div class="item">
                            <img alt="" src="__STYLE__/image/lunbo2.jpg"  class="img-respontive"/>
                        </div>
                        <div class="item">
                            <img alt="" src="__STYLE__/image/lunbo3.jpg"  class="img-respontive"/>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-239684" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-239684" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>         
		</div>
        <div class="col-xs-3 column acolor padding1">
            <h4 align="center" style="color:#fff;"><b>最新公告</b></h4>
            <volist name="newslist" id="newslistitem" empty="$newsempty" key="k">
                <div class="col-xs-12">
             <!--        <p class="pull-right">{$newslistitem.addtime}</p> -->
                    <a href="__ROOT__/index.php/home/index/news?id={$newslistitem.id}" style="color:#fff;"><h5 style="margin-bottom:0px;">{$k}.{$newslistitem.title}</h5></a>
                </div>
            </volist>
        </div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
	    <div class="col-xs-12 column padding3" style="margin-top:30px;">
	       	<h3>淘·实惠</h3>
	    </div>
	    <div class="col-xs-4 column padding1">
			<img alt="" src="__ROOT__/Public/image/height.png" class="img-responsive" />
		</div>
	    <div class="col-xs-8 column padding1">
			<volist name="focus" id="focusitem">
			<div class="col-xs-4 column padding1">
				<a href="__ROOT__/index.php/home/index/jiadian?id={$focusitem.id}"><img alt="{$focusitem.name}" src="__STYLE__/{$focusitem.img}" width="100%"/></a>
			</div>
			</volist>
		</div>
	</div>
	<div class="row clearfix">
	    <div class="col-xs-12 column padding1">
		<volist name="focus4" id="focusitem2">
		<div class="col-xs-3 column  padding1">
			<a href="__ROOT__/index.php/home/index/jiadian?id={$focusitem2.id}"><img alt="{$focusitem2.name}" src="__STYLE__/{$focusitem2.img}" width="100%"/></a>
		</div>
		</volist>
		</div>
	</div>
	<div class="row clearfix">
	    <div class="col-xs-12 column padding3 padding1" style="margin-top:30px;">
	       	<h3>买·大牌</h3>
	    </div>
	    <div class="col-xs-12 column padding1">
		<volist name="focus5" id="focusitem3">
		<div class="col-xs-4 column padding1">
			<a href="__ROOT__/index.php/home/index/jiadian?id={$focusitem3.id}"><img alt="{$focusitem3.name}" src="__STYLE__/{$focusitem3.img}" width="100%"/></a>
		</div>
		</volist>
		</div>
    </div>	
    <div class="row clearfix">
	    <div class="col-xs-12 column padding3 padding1" style="margin-top:30px;">
	       	<h3>特·划算</h3>
	    </div>
	    <div class="col-xs-12 column padding1">
		<volist name="focus6" id="focusitem3">
		<div class="col-xs-4 column padding1">
			<a href="__ROOT__/index.php/home/index/jiadian?id={$focusitem3.id}"><img alt="{$focusitem3.name}" src="__STYLE__/{$focusitem3.img}" width="100%"/></a>
		</div>
		</volist>
		</div>
    </div>	
    <div class="row clearfix">	
		<div class="col-xs-12 column padding1">
		    <hr>
			<!-- <img alt="" src="__ROOT__/Public/image/foot.png" class="img-responsive" /> -->
		</div>
	</div>
</div>
<include file="Public:footer" />
</body>
</html>