<html>

<head>
	<title>订单</title>
	<script src="__STYLE__/js/jquery.min.js"></script>
	<script src="__STYLE__/js/bootstrap.min.js"></script>
	<link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__STYLE__/css/animate.min.css" rel="stylesheet">
	<link href="__STYLE__/css/style.css" rel="stylesheet">
</head>

<body>

	<include file="Public:header" />

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column margin4" style="min-height:800px;">
				<div class="page-header">
					<h1>
						订单
					</h1>
				</div>
				<table class="table" style="font-size:14px;">
					<thead>
						<tr>
							<th>
								编号
							</th>
							<th>
								产品
							</th>
							<th>
								单价
							</th>
							<th>
								份数
							</th>
							<th>
								总价
							</th>
							<th>
								购买时间
							</th>
							<th>
								收货地址
							</th>
							<th>
								状态
							</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="orderitem" key="k" empty="$empty">
							<!--volist 说明：name-传过来的结果集标识 result id-二级索引 key：索引名；未定义时变量为$i empty-result 结果集为空时的内容，可在Controller 中进行设置 -->
							<tr class='success'>
								<td>
									{$k}
								</td>
								<td>
									<a href="__ROOT__/index.php/home/index/jiadian?id={$orderitem.jiadianid}">{$orderitem.name}</a>
								</td>
								<td>
									{$orderitem.price}
								</td>
								<td>
									{$orderitem.number}
								</td>
								<td>
									{$orderitem.zongjia}
								</td>
								<td>
									{$orderitem.addtime}
								</td>
								<td>
									{$orderitem.address}
								</td>
								<td>
									{$orderitem.status}
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div class="pages" align="center">
					{$page}
				</div>
			</div>
		</div>
	</div>

	<include file="Public:footer" />
</body>

</html>